<div class="banner-half">
  <div id="title">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<div class="container">
  <div class="row m-3">
    <div class="col">
      <% @cocktail.doses.each do |dose| %>
        <div id="dose" class="my-3 p-2">
          <h3 class="py-2"><%= dose.ingredient.name %></h3>
          <p><%= dose.description %></p>
          <%= link_to 'Delete dose <i class="fas fa-trash"></i>'.html_safe,
                      dose_path(dose),
                      method: :delete,
                      data: { confirm: "Are you sure?"},
                      class: "btn-yellow" %>
        </div>
      <% end %>
    </div>
    <div class="col">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <h2 class="py-3">Add a new dose</h2>
        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.button :submit, "Add dose", class: "btn-yellow" %>
      <% end %>
    </div>
  </div>
  <%= link_to "Back to homepage", cocktails_path %>
</div>
