<div class="banner-half">
  <div id="title">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<div class="container">
  <div class="row m-3">
    <div class="col-sm-12 col-md-6">
      <% @cocktail.doses.each do |dose| %>
        <div id="dose" class="my-3 p-2 yellow-border">
          <h3 class="py-2"><%= dose.ingredient.name %></h3>
          <p><%= dose.description %></p>
          <%= link_to 'Delete dose <i class="fas fa-trash"></i>'.html_safe,
                      dose_path(dose),
                      method: :delete,
                      data: { confirm: "Are you sure?"},
                      class: "btn-yellow" %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <h2 class="py-3">Add a new dose</h2>
        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.button :submit, "Add dose", class: "btn-yellow" %>
      <% end %>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-sm-12 col-md-6">
      <% @cocktail.reviews.each do |review| %>
        <div class="my-3 p-2 yellow-border">
          <% review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <p><%= review.content %></p>
        </div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= simple_form_for [@cocktail, @review] do |f| %>
        <h2 class="py-3">Add a review</h2>
        <%= f.input :rating, collection: 1..5, label: "Rate the cocktail", as: :select, input_html: { id: 'review_rating' } %>
        <%= f.input :content, label: "Let us know what you think about this cocktail 😀" %>
        <%= f.button :submit, "Review", class: "btn-yellow" %>
      <% end %>
    </div>
  </div>
  <%= link_to "Back to homepage", cocktails_path %>
</div>
