<div class="container">
  <h1><%= @cocktail.name %></h1>

  <%= @cocktail.doses.each do |dose| %>
    <h2><%= cocktail.ingredient %></h2>
    <h2><%= cocktail.dose %></h2>
  <% end %>

  <h2>Add a new dose</h2>
  <%= simple_form_for(@cocktail, @dose) do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
  <% end %>

  <%= link_to "Back to homepage", cocktails_path %>
</div>
